* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    width: 50%;
    margin: auto;
}

.video-section {
    display: flex;
    width: 100%;
}

.videosrc {
    width: 50%;
}

.gif-section {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    background-color: red;
}

.delete-section-button {
    float: right;
    clear: both;
}

.gif-section-headers {
    display: flex;
    flex-wrap: wrap;
}

.gif-section-header {
    width: 100%;
    margin: 10px;
}

.gif-section-field {
    display: flex;
    padding: 10px;
}

.field-input {
    width: 30%;
}

.delete-section-field {
    width: 10%;
}