* {
    box-sizing: border-box;
    border: 1px solid black;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    width: 75%;
    margin: auto;
    text-align: center;
}

.video-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.videotitle {
    width: 50%;
}

.videosrc {
    width: 50%;
}

.gif-section {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    /* background-color: red; */
}

.delete-section-button {
    float: right;
    clear: both;
}

.gif-section-headers {
    display: flex;
    flex-wrap: wrap;
}

.gif-section-header {
    width: 100%;
    margin: 10px;
}

.gif-section-field {
    display: flex;
    padding: 10px;
}

.field-input {
    width: 30%;
}

.delete-field-button {
    width: 10%;
}

.active-mode {
    background-color: lime;
}

.hidden {
    display: none;
}